<div class="corpo">
    <img class="bannerCard" src="/assets/abas/cardSobre.png">
</div>

<div class="corpo">
    <div class="t1 titulo">Quem somos nós?</div>
    <div class="d1 texto">Empresa fundada em 1990, visa a conectar com mais facilidade produtores e consumidores no ramo
        do cultivo e distribuição de plantas floríferas e ornamentais.
        Hoje, contamos com mais de 100 lojas espalhadas por todo Brasil.</div>

    <div class="t2 titulo">Fundadores</div>
    <div class="d2 texto">
        <div class="chip">
            <img src="/assets/male.png" alt="Person" width="96" height="96">
            Marcos Gabriel Rodrigues Melo
        </div>

        <div class="chip">
            <img src="/assets/female.png" alt="Person" width="96" height="96">
            Clara Larissa Duarte Trajano Dias
        </div>

        <div class="chip">
            <img src="/assets/female.png" alt="Person" width="96" height="96">
            Maria Eduarda Ciriaco Manenti
        </div>
    </div>

    <div class="t3 titulo">Nossa missão</div>
    <div class="d3 texto">Levar, através da beleza e perfume das flores a mensagem especial de nossos clientes às
        pessoas queridas em seus momentos mais especiais. Nosso maior objetivo é oferecer serviços e produtos de
        qualidade, gerando satisfação para nossos clientes, respeitando seus direitos como consumidores e propiciando,
        cada vez mais, a alegria de presentear e emocionar seus entes queridos com praticidade, beleza e bom gosto.
    </div>

    <div class="t4 titulo">Contato</div>
    <div class="d4 texto"> (11) 9 1234-5678 <br>ouvidoria@blablabla.com <br>Nossa sede está situada na Av. Paulista, 899, Centro, São
        Paulo, SP.</div>



</div>