<div class="corpo">

    <!--Card de imagem do produto-->
    <img class="imagem bg-image" src="{{produtoAtual.imagem}}">

    <!--Campo de título do produto-->
    <div class="titulo">
        <h1>{{produtoAtual.nome}}</h1>
    </div>

    <!--Campo de descrição do produto-->
    <div class="descricao">
        {{produtoAtual.descricao}}
    </div>

    <!--Campo de preço do produto-->
    <div class="preco">
        R$ {{produtoAtual.preco}}
    </div>

    <!--Campo de informações adicionais (fixo para todos os produtos)-->
    <div class="info">
        Se interessou por este produto? Verifique disponibilidade na loja física mais próxima a você ou entre em
        contato conosco!
    </div>

</div>