<!--Imagem de fundo em efeito blur-->
<img class="bg-image" src="/assets/background.jpg">

<!--Caixa de texto central da home-->
<div class="bg-text">
    <h1 class="bg-text-titulo">Floricultura Rodrigues</h1>
    <p class="bg-text-subtitulo">Serviços especializados em flores</p>
    <br>

    <p class="bg-text-titulo1">Você é consumidor? Conheça nosso catálogo e nossos serviços!</p>
    <ul>
        <li>Grande variedade de produtos</li>
        <li>Catálogo na palma das suas mãos</li>
        <li>Encontre a floricultura mais próxima a você com disponibilidade para o produto que você deseja</li>
    </ul>

    <p class="bg-text-titulo1">Você possui uma floricultura? Seja um franqueado! Entre em contato conosco!</p>
    <ul> 
        <li>Assistência, treinamento e suporte</li>
        <li>Publicidade turbinada para o seu ponto comercial</li>
    </ul>
</div>

